include www-layout-components/head
include www-layout-components/header
include www-layout-components/headerPopupBubble
include www-layout-components/giftBanner
include www-layout-components/rightColumn
include www-layout-components/footerMenu

html(xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns:v="http://rdf.data-vocabulary.org/#" lang="ru")
	head
		title= title
		if (description)
			meta(name="description" content= description)
		if (rmd)
			link(rel="StyleSheet" href="https://www.litres.ru/static/litres/css/p/cms.css" type="text/css")
		+head()
	body(topmargin="0" rightmargin="0" marginwidth="0" marginheight="0" leftmargin="0" bottommargin="0" onload="init()")
		+header()
		#main-div.main-div.fix-max-width.page-wrap-with_new_header
			+giftBanner()
			if (rmd)
				.page
					.new-container
						ul#breadcrumbs.breadcrumbs(xmlns:v="http://rdf.data-vocabulary.org/#")
							li.breadcrumbs__item
								span(property="v:title")
					.new-container.cms_wrapper(itemscope="" itemtype="http://schema.org/Article")
						.left_column.column
							block content
							// При параметре rcol = 1 отобразим правле меню статьиa
						if (rcol)
							+rightColumn()

			else
				.main-div_wrap
					.footer_bot_stick
						#main.main
							#container
								#breadcrumbs.breadcrumbs(xmlns:v="http://rdf.data-vocabulary.org/")
								#master_page_div
									block content
									.cont_seo_idx
							// При параметре rcol = 1 отобразим правле меню статьиa
							if (rcol)
								+rightColumn()
		+footerMenu()
		+headerPopupBubble()

		script(type="text/javascript" src="https://www.litres.ru/static/jquery_plugs/jquery.mask.js?104901")
		script(type="text/javascript" src="https://www.litres.ru/static/litres/modules/authorization/js/Login.js?120683")
		script(language="JavaScript" src="https://www.litres.ru/static/litres/modules/scrollbar/js/scrollbar.js?121065" type="text/javascript")
		script(type="text/javascript" src="https://www.litres.ru/static/litres/modules/no-cover/js/no-cover.js")
		script(type="text/javascript" src="https://www.litres.ru/static/jquery_plugs/dotdotdot/jquery.dotdotdot.min.js?60850")
		script(type="text/javascript" src="https://www.litres.ru/static/litres/modules/spam-tickets/js/spam-tickets.js?117290")