mixin giftBanner()
   .ab-container.newyear_gift_close
      span#banner__newyear_gift_close.banner__newyear_gift_close
   a#banner__newyear_gift.banner__newyear_gift(href="/kniga-luchshiy-podarok/")
      .ab-container
         span.banner__newyear_gift_title Новогодние подарочные карты на книги!
         span.banner__newyear_gift_btn Выбрать карту